--index-url https://pypi.org/simple/
--find-links /mnt/nvme/workspace/plant-examiner/wheelhouse

# Transformers from GitHub (no dependencies) - Only for Gemma 3N
git+https://github.com/huggingface/transformers.git

# TIMM upgrade (no dependencies) - Only for Gemma 3N  
timm
numpy<2
tinydb
accelerate
fastapi
pillow

peft>=0.10.0 
accelerate>=0.28.0 

git+https://github.com/NVIDIA/logits-processor-zoo.git

https://pypi.jetson-ai-lab.io/jp6/cu126/+f/62a/1beee9f2f1470/torch-2.8.0-cp310-cp310-linux_aarch64.whl#sha256=62a1beee9f2f147076a974d2942c90060c12771c94740830327cae705b2595fc
https://pypi.jetson-ai-lab.io/jp6/cu126/+f/907/c4c1933789645/torchvision-0.23.0-cp310-cp310-linux_aarch64.whl#sha256=907c4c1933789645ebb20dd9181d40f8647978e6bd30086ae7b01febb937d2d1
https://pypi.jetson-ai-lab.io/jp6/cu126/+f/81a/775c8af36ac85/torchaudio-2.8.0-cp310-cp310-linux_aarch64.whl#sha256=81a775c8af36ac859fb3f4a1b2f662d5fcf284a835b6bb4ed8d0827a6aa9c0b7


file:///mnt/nvme/workspace/plant-examiner/wheelhouse/vllm-0.1.dev8286+g5ce81c78f.d20250805.cu126-cp310-cp310-linux_aarch64.whl

